<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expense">
            <h2><span jhiTranslate="gnsgapplicationApp.expense.detail.title">Expense</span> {{ expense.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gnsgapplicationApp.expense.expType">Exp Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gnsgapplicationApp.EXPTYPE.' + expense.expType }}">{{ expense.expType }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.expense.amt">Amt</span></dt>
                <dd>
                    <span>{{ expense.amt }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.expense.date">Date</span></dt>
                <dd>
                    <span>{{ expense.date }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.expense.desc">Desc</span></dt>
                <dd>
                    <span>{{ expense.desc }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.expense.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ expense.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.expense.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ expense.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.expense.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ expense.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.expense.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ expense.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.expense.vendor">Vendor</span></dt>
                <dd>
                    <div *ngIf="expense.vendor">
                        <a [routerLink]="['/vendor', expense.vendor?.id, 'view']">{{ expense.vendor?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expense', expense.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
