<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sevadar">
            <h2><span jhiTranslate="gnsgapplicationApp.sevadar.detail.title">Sevadar</span> {{ sevadar.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.name">Name</span></dt>
                <dd>
                    <span>{{ sevadar.name }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.email">Email</span></dt>
                <dd>
                    <span>{{ sevadar.email }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ sevadar.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.address">Address</span></dt>
                <dd>
                    <span>{{ sevadar.address }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.sevaStartDate">Seva Start Date</span></dt>
                <dd>
                    <span>{{ sevadar.sevaStartDate }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.sevaEndDate">Seva End Date</span></dt>
                <dd>
                    <span>{{ sevadar.sevaEndDate }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.defaultRouls">Default Rouls</span></dt>
                <dd>
                    <span>{{ sevadar.defaultRouls }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.isValid">Is Valid</span></dt>
                <dd>
                    <span>{{ sevadar.isValid }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ sevadar.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ sevadar.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ sevadar.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.sevadar.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ sevadar.lastModifiedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sevadar', sevadar.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
