<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="revenue">
            <h2><span jhiTranslate="gnsgapplicationApp.revenue.detail.title">Revenue</span> {{ revenue.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gnsgapplicationApp.revenue.revType">Rev Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gnsgapplicationApp.REVTYPE.' + revenue.revType }}">{{ revenue.revType }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.revenue.amt">Amt</span></dt>
                <dd>
                    <span>{{ revenue.amt }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.revenue.date">Date</span></dt>
                <dd>
                    <span>{{ revenue.date }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.revenue.desc">Desc</span></dt>
                <dd>
                    <span>{{ revenue.desc }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.revenue.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ revenue.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.revenue.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ revenue.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.revenue.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ revenue.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="gnsgapplicationApp.revenue.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ revenue.lastModifiedBy }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/revenue', revenue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
