<div>
    <h2 id="page-heading">
        <span jhiTranslate="gnsgapplicationApp.program.home.title">Programs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-program" [routerLink]="['/program/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="gnsgapplicationApp.program.home.createLabel">
            Create a new Program
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gnsgapplicationApp.program.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="programs?.length === 0">
        <span jhiTranslate="gnsgapplicationApp.program.home.notFound">No programs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="programs && programs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="programType"><span jhiTranslate="gnsgapplicationApp.program.programType">Program Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="location"><span jhiTranslate="gnsgapplicationApp.program.location">Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="etime"><span jhiTranslate="gnsgapplicationApp.program.etime">Etime</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="family"><span jhiTranslate="gnsgapplicationApp.program.family">Family</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="gnsgapplicationApp.program.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="gnsgapplicationApp.program.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="withLangar"><span jhiTranslate="gnsgapplicationApp.program.withLangar">With Langar</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="langarMenu"><span jhiTranslate="gnsgapplicationApp.program.langarMenu">Langar Menu</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="langarTime"><span jhiTranslate="gnsgapplicationApp.program.langarTime">Langar Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dueAmt"><span jhiTranslate="gnsgapplicationApp.program.dueAmt">Due Amt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paidAmt"><span jhiTranslate="gnsgapplicationApp.program.paidAmt">Paid Amt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="balAmt"><span jhiTranslate="gnsgapplicationApp.program.balAmt">Bal Amt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="recieptNumber"><span jhiTranslate="gnsgapplicationApp.program.recieptNumber">Reciept Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remark"><span jhiTranslate="gnsgapplicationApp.program.remark">Remark</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bookingDate"><span jhiTranslate="gnsgapplicationApp.program.bookingDate">Booking Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="gnsgapplicationApp.program.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="gnsgapplicationApp.program.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="gnsgapplicationApp.program.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedDate"><span jhiTranslate="gnsgapplicationApp.program.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span jhiTranslate="gnsgapplicationApp.program.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sevadar.name"><span jhiTranslate="gnsgapplicationApp.program.sevadar">Sevadar</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let program of programs ;trackBy: trackId">
                    <td><a [routerLink]="['/program', program.id, 'view']">{{ program.id }}</a></td>
                    <td jhiTranslate="{{ 'gnsgapplicationApp.EVENTTYPE.' + program.programType }}">{{ program.programType }}</td>
                    <td jhiTranslate="{{ 'gnsgapplicationApp.EVENTLOCATION.' + program.location }}">{{ program.location }}</td>
                    <td>{{ program.etime | date:'medium' }}</td>
                    <td>{{ program.family }}</td>
                    <td>{{ program.phoneNumber }}</td>
                    <td>{{ program.address }}</td>
                    <td>{{ program.withLangar }}</td>
                    <td jhiTranslate="{{ 'gnsgapplicationApp.LANGARMENU.' + program.langarMenu }}">{{ program.langarMenu }}</td>
                    <td>{{ program.langarTime | date:'medium' }}</td>
                    <td>{{ program.dueAmt }}</td>
                    <td>{{ program.paidAmt }}</td>
                    <td>{{ program.balAmt }}</td>
                    <td>{{ program.recieptNumber }}</td>
                    <td>{{ program.remark }}</td>
                    <td>{{ program.bookingDate | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'gnsgapplicationApp.EventStatus.' + program.status }}">{{ program.status }}</td>
                    <td>{{ program.createdDate | date:'medium' }}</td>
                    <td>{{ program.createdBy }}</td>
                    <td>{{ program.lastModifiedDate | date:'medium' }}</td>
                    <td>{{ program.lastModifiedBy }}</td>
                    <td>
                        <div *ngIf="program.sevadar">
                            <a [routerLink]="['/sevadar', program.sevadar?.id, 'view']" >{{ program.sevadar?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/program', program.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/program', program.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(program)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="programs && programs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
