<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-p-roul-heading" jhiTranslate="gnsgapplicationApp.pRoul.home.createOrEditLabel">Create or edit a P Roul</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.pathiName" for="field_pathiName">Pathi Name</label>
                    <input type="text" class="form-control" name="pathiName" id="field_pathiName"
                           formControlName="pathiName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.desc" for="field_desc">Desc</label>
                    <input type="text" class="form-control" name="desc" id="field_desc"
                           formControlName="desc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.totalRoul" for="field_totalRoul">Total Roul</label>
                    <input type="number" class="form-control" name="totalRoul" id="field_totalRoul"
                           formControlName="totalRoul"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.totalAmt" for="field_totalAmt">Total Amt</label>
                    <input type="number" class="form-control" name="totalAmt" id="field_totalAmt"
                           formControlName="totalAmt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.bhogDate" for="field_bhogDate">Bhog Date</label>
                    <div class="input-group">
                        <input id="field_bhogDate" type="text" class="form-control" name="bhogDate" ngbDatepicker #bhogDateDp="ngbDatepicker" formControlName="bhogDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="bhogDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.prog" for="field_prog">Prog</label>
                    <select class="form-control" id="field_prog" name="prog" formControlName="prog">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aSProgramOption.id === editForm.get('prog')!.value?.id ? editForm.get('prog')!.value : aSProgramOption" *ngFor="let aSProgramOption of asprograms; trackBy: trackById">{{ aSProgramOption.desc }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.pRoul.pathi" for="field_pathi">Pathi</label>
                    <select class="form-control" id="field_pathi" name="pathi" formControlName="pathi">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sevadarOption.id === editForm.get('pathi')!.value?.id ? editForm.get('pathi')!.value : sevadarOption" *ngFor="let sevadarOption of sevadars; trackBy: trackById">{{ sevadarOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
