<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-as-program-heading" jhiTranslate="gnsgapplicationApp.aSProgram.home.createOrEditLabel">Create or edit a AS Program</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.program" for="field_program">Program</label>
                    <select class="form-control" name="program" formControlName="program" id="field_program">
                        <option value="SEHAJ_PATH">{{ 'gnsgapplicationApp.PROGTYPE.SEHAJ_PATH' | translate }}</option>
                        <option value="AKHAND_PATH">{{ 'gnsgapplicationApp.PROGTYPE.AKHAND_PATH' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.family" for="field_family">Family</label>
                    <input type="text" class="form-control" name="family" id="field_family"
                           formControlName="family"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.startDate" for="field_startDate">Start Date</label>
                    <div class="input-group">
                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker #startDateDp="ngbDatepicker" formControlName="startDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.endDate" for="field_endDate">End Date</label>
                    <div class="input-group">
                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker #endDateDp="ngbDatepicker" formControlName="endDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                           formControlName="remark"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.bookingDate" for="field_bookingDate">Booking Date</label>
                    <div class="d-flex">
                        <input id="field_bookingDate" type="datetime-local" class="form-control" name="bookingDate" formControlName="bookingDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.desc" for="field_desc">Desc</label>
                    <input type="text" class="form-control" name="desc" id="field_desc"
                           formControlName="desc"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="BOOKED">{{ 'gnsgapplicationApp.EventStatus.BOOKED' | translate }}</option>
                        <option value="COMPLETED">{{ 'gnsgapplicationApp.EventStatus.COMPLETED' | translate }}</option>
                        <option value="CANCELLED">{{ 'gnsgapplicationApp.EventStatus.CANCELLED' | translate }}</option>
                        <option value="REQUESTED">{{ 'gnsgapplicationApp.EventStatus.REQUESTED' | translate }}</option>
                        <option value="PAID">{{ 'gnsgapplicationApp.EventStatus.PAID' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gnsgapplicationApp.aSProgram.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
